@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --color-fyze: #66fcf0ff;
}

@layer utilities {
  .font-black {
    font-weight: 900;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #050505;
  color: #ffffff;
  overflow-x: hidden;
}
